* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
  background: #000;
  color: white;
}

/* NAVBAR */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: all 0.3s ease;
  z-index: 1000;
}

/* VISIBLE SCROLL COLOR */
header.scrolled {
  background-color: #111827; /* lighter than page */
  box-shadow: 0 6px 18px rgba(0,0,0,0.6);
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
}

.tagline {
  display: block;
  font-size: inherit;
  font-weight: inherit;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-links a:hover {
  background-color: #38bdf8;
  color: black;
  border-color: #38bdf8;
}

/* HERO */
.hero {
  height: 100vh;
  padding-top: 160px;
  text-align: center;
  background: radial-gradient(circle at top, #020617, #000);
}

.hero h1 {
  font-size: 44px;
  margin-bottom: 12px;
}

.hero p {
  font-size: 17px;
  color: #cbd5f5;
  margin-bottom: 35px;
}

/* BUTTON */
.cta-btn {
  padding: 12px 40px;
  font-size: 16px;
  background-color: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #0ea5e9;
}

/* COMMON SECTION STYLE */
.section {
  min-height: 100vh;
  padding: 140px 20px;
  text-align: center;
}

/* DIFFERENT BACKGROUNDS */
.about {
  background-color: #020617;
}

.services {
  background-color: #0f172a;
}

.contact {
  background-color: #020617;
}

.section h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.section p {
  font-size: 17px;
  color: #cbd5f5;
  max-width: 700px;
  margin: auto;
  line-height: 1.7;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header {
    padding: 15px 30px;
  }

  .hero h1 {
    font-size: 32px;
  }
}
